
[main]
appender_count=2
appender0=file_appender
appender1=http_appender

[logid_filter]
#all 表示全部模块
ugent=50
debug=90
report=90

#report=all
[file_appender]
creator=logger_appender_file_create
log_filename=/tmp/log_dcdn
flush_size=0
log_maxsize=5
log_level=debug

[http_appender]
creator=logger_appender_http_create
http_server=ci.report.dcdn.sandai.net
http_port=80
http_path=/
log_level=debug
flush_size=0
